.analytics-page {
  min-height: 100vh;
  background: #f8fafc;
}

.analytics-main {
    padding: 40px 60px;
}

.analytics-header {
  margin-bottom: 2rem;
}

.analytics-header h1 {
  font-size: 2rem;
  color: #1e293b;
  margin-bottom: 0.5rem;
}

.analytics-header p {
  color: #64748b;
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}

.chart-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.chart-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
}

.chart-card h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: #334155;
}

.chart-wrapper {
  width: 100%;
  height: 300px;
}

.posts-table-section {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.01);
}

.posts-table-section h3 {
  margin-bottom: 1.5rem;
  color: #334155;
}

.table-wrapper {
  overflow-x: auto;
}

.analytics-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.analytics-table thead {
  background: #f1f5f9;
}

.analytics-table th,
.analytics-table td {
  padding: 1rem;
  text-align: left;
  color: black;
  border-bottom: 1px solid #e2e8f0;
}

.pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.page-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background: white;
  cursor: pointer;
  transition: all 0.2s;
  color: black;
}

.page-btn:hover:not(:disabled) {
  background: #f1f5f9;
  border-color: #cbd5e1;
}

.page-btn.active {
  background: #6366f1;
  color: white;
  border-color: #6366f1;
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.2rem;
  color: #64748b;
}

/* Wrapper for horizontal alignment */
.action-buttons {
  display: flex;
  align-items: center;
  gap: 10px;   /* space between buttons */
}

/* Base button */
.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

/* Edit */
.action-btn.edit-btn {
  background: #6366f1;
}

.action-btn.edit-btn:hover {
  background: #4f46e5;
  transform: translateY(-2px);
}

/* Delete */
.action-btn.delete-btn {
  background: #ef4444;
}

.action-btn.delete-btn:hover {
  background: #dc2626;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
  .analytics-main {
    padding: 1rem;
  }
}